@model IEnumerable<UserManagement.ViewModels.User>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{ 
var currentUserId = User.Claims.FirstOrDefault(c => c.Type == "UserId" || c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;  
}
@{
    ViewBag.Title = "User List";
}

<!-- delete model -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Conformation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <img style="height: 36px; width: 51px;" src="~/images/toppng.com-warning-icon-2400x2400.png"
                    alt="">
                <div class="form">
                    Are you sure You Want to delete this user?
                </div>
            </div>
            <div class="modal-footer">

                <form method="post" id="deleteUserForm" action="" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                
                <button type="button" class="btn  btn-light  " data-bs-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex justify-content-between mb-3 mt-3">
    <h3 class="dashboard" style="color: #0066a7;">
        User List
    </h3>

    <div class="seachbar d-flex">
        <div class="d-flex" style="position: relative; margin-right: 10px; height: 50px; width: 199px;">
            <input id="UserlistSearch" type="text" class="form-control search-input d-flex" placeholder="Search">
            <img width="18" height="20" src="~/images/search-icon.svg" alt="..."
                class="search-icon d-flex" style="position: absolute; top: 15px; right: 17px;">
        </div>

        @if (User.IsInRole("Admin"))
        {
        <p>
            <a href="@Url.Action("Create", "User")" class="btn btn-primary btn-sm" style="height: 50px;">+ Add User</a>
        </p>
        }
    </div>
</div>


<div class="table-responsive">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Active</th>
             @if (User.IsInRole("Admin"))
            {
            <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Firstname</td>
            <td>@user.Lastname</td>
            <td>@user.Email</td>
            @if(user.RoleId==1){
                <td>Admin</td>
            }else{
                <td>User</td>
            }
            <td>@user.PhoneNumber</td>
            <td>
                @{
                    if (user.Dateofbirth != default(DateTime))
                    {
                        var today = DateTime.Today;
                        var birthDate = user.Dateofbirth.Date;
                        var age = today.Year - birthDate.Year;
                        if (today < birthDate.AddYears(age))
                        {
                            age--; 
                        }
                        @age
                    }
                    else
                    {
                        @:N/A
                    }
                }
            </td>
            <td>@(user.IsActive ? "Yes" : "No")</td>
            @if (User.IsInRole("Admin"))
            {
            <td class="d-flex">
                <a href="@Url.Action("Edit", "User", new { id = user.Id })" class="btn btn-sm btn-warning mb-2 me-2 mt-2">
                    <i class="bi bi-pencil" style="color: black;"></i>

                </a>
                @if (user.Id.ToString() != currentUserId)
                {
                <div class="mt-2">|</div>
                <i class="bi bi-trash btn btn-danger btn-sm mb-2 mt-2 ms-2" data-bs-toggle="modal" data-bs-target="#deleteUser" data-id="@user.Id"></i>
                }
            </td>
            }
        </tr>
    }
    </tbody>
</table>
</div>



@section Scripts {
<script>
    $(document).ready(function () {
        @if(TempData["error"] != null)
        {
            <text>toastr.error('@TempData["error"]');</text>
        }
        @if(TempData["success"] != null)
        {
            <text>toastr.success('@TempData["success"]');</text>
        }

        $('.bi-trash').on('click', function () {
            var userId = $(this).data('id');

            var deleteForm = $('#deleteUserForm');
            deleteForm.attr('action', '/User/Delete/' + userId);
        });
    });
</script>
}
